<h1>Welcome to the bands page!</h1>
<h3>Navigate links below to view and add bands</h3>

<% if @bands.any?() %>
	<h3>Here are all of the Bands that have been added:</h3>

	<ul>
		<% @bands.each do |band| %>
			<li><a href="/bands/<%= band.id() %>"><%= band.name() %></a></li>
		<% end %>
	</ul>

<% else %>
	<h3>There are currently no bands, fill in the "Band Name" field below and click "Add Band" button to add a band.</h3>
<% end %>

<form action="/bands/new" method="post">
	<label for="name">Band Name:  </label>
	<input id="name" name="name" type="text">
	<button type="submit">Add Band</button>
</form>

<form action="/bands/update" method="post">
	<input type="hidden" name="_method" value="patch">
	<label for="band_select">Select a band to update:  </label>
	<select id="band_select" name="band_select">
		<% @bands.each() do |band| %>
			<option value="<%= band.id %>"><%= band.name() %></option>
		<% end %>
	</select>
	<label for="name_update">Band name:  </label>
	<input id="name_update" name="name_update" type="text" value="">
	<button type="submit">Update Band</button>
</form>

<form action="/bands/delete" method="post">
	<input type="hidden" name="_method" value="delete">
	<label for="band_delete_select">Select a band to delete:  </label>
	<select id="band_delete_select" name="band_delete_select">
		<% @bands.each() do |band| %>
			<option value="<%= band.id %>"><%= band.name() %></option>
		<% end %>
	</select>
	<button type="submit">Delete Band</button>
</form>


<a href="/">Home</a>
